* text=auto !eol
Executables/Linux/slidePuzzle.x86 -text
Executables/Linux/slidePuzzle.x86_64 -text
Executables/Linux/slidePuzzle_Data/Managed/Assembly-CSharp-firstpass.dll -text
Executables/Linux/slidePuzzle_Data/Managed/Assembly-CSharp.dll -text
Executables/Linux/slidePuzzle_Data/Managed/Assembly-UnityScript-firstpass.dll -text
Executables/Linux/slidePuzzle_Data/Managed/Assembly-UnityScript.dll -text
Executables/Linux/slidePuzzle_Data/Managed/Boo.Lang.dll -text
Executables/Linux/slidePuzzle_Data/Managed/Mono.Security.dll -text
Executables/Linux/slidePuzzle_Data/Managed/System.Core.dll -text
Executables/Linux/slidePuzzle_Data/Managed/System.dll -text
Executables/Linux/slidePuzzle_Data/Managed/UnityEngine.dll -text
Executables/Linux/slidePuzzle_Data/Managed/mscorlib.dll -text
Executables/Linux/slidePuzzle_Data/Mono/x86/libmono.so -text
Executables/Linux/slidePuzzle_Data/Mono/x86_64/libmono.so -text
Executables/Linux/slidePuzzle_Data/Resources/unity[!!-~]default[!!-~]resources -text
Executables/Linux/slidePuzzle_Data/mainData -text
Executables/Linux/slidePuzzle_Data/sharedassets0.assets -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Assembly-CSharp-firstpass.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Assembly-CSharp.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Assembly-UnityScript-firstpass.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Assembly-UnityScript.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Boo.Lang.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/Mono.Security.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/System.Core.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/System.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/UnityEngine.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/._browscap.ini -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/._config -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/1.0/._DefaultWsdlHelpGenerator.aspx -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/1.0/._machine.config -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/2.0/._DefaultWsdlHelpGenerator.aspx -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/2.0/._machine.config -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/2.0/._settings.map -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/2.0/._web.config -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/2.0/Browsers/._Compat.browser -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/etc/mono/mconfig/._config.xml -text
Executables/Mac/slidePuzzle.app/Contents/Data/Managed/mscorlib.dll -text
Executables/Mac/slidePuzzle.app/Contents/Data/mainData -text
Executables/Mac/slidePuzzle.app/Contents/Data/sharedassets0.assets -text
Executables/Mac/slidePuzzle.app/Contents/Frameworks/MonoEmbedRuntime/osx/._libmono.0.dylib -text
Executables/Mac/slidePuzzle.app/Contents/Frameworks/MonoEmbedRuntime/osx/libmono.0.dylib -text
Executables/Mac/slidePuzzle.app/Contents/MacOS/SlidePuzzle -text
Executables/Mac/slidePuzzle.app/Contents/Resources/._unity[!!-~]default[!!-~]resources -text
Executables/Mac/slidePuzzle.app/Contents/Resources/Ageia.tif -text
Executables/Mac/slidePuzzle.app/Contents/Resources/KeyConfig.nib/keyedobjects.nib -text
Executables/Mac/slidePuzzle.app/Contents/Resources/MainMenu.nib/keyedobjects.nib -text
Executables/Mac/slidePuzzle.app/Contents/Resources/Mono.tif -text
Executables/Mac/slidePuzzle.app/Contents/Resources/ScreenSelector.nib/keyedobjects.nib -text
Executables/Mac/slidePuzzle.app/Contents/Resources/UnityPlayerIcon.png -text
Executables/Mac/slidePuzzle.app/Contents/Resources/unity[!!-~]default[!!-~]resources -text
Executables/Windows/slidePuzzle.exe -text
Executables/Windows/slidePuzzle_Data/Managed/Assembly-CSharp-firstpass.dll -text
Executables/Windows/slidePuzzle_Data/Managed/Assembly-CSharp.dll -text
Executables/Windows/slidePuzzle_Data/Managed/Assembly-UnityScript-firstpass.dll -text
Executables/Windows/slidePuzzle_Data/Managed/Assembly-UnityScript.dll -text
Executables/Windows/slidePuzzle_Data/Managed/Boo.Lang.dll -text
Executables/Windows/slidePuzzle_Data/Managed/Mono.Security.dll -text
Executables/Windows/slidePuzzle_Data/Managed/System.Core.dll -text
Executables/Windows/slidePuzzle_Data/Managed/System.dll -text
Executables/Windows/slidePuzzle_Data/Managed/UnityEngine.dll -text
Executables/Windows/slidePuzzle_Data/Managed/mscorlib.dll -text
Executables/Windows/slidePuzzle_Data/Mono/mono.dll -text
Executables/Windows/slidePuzzle_Data/Resources/unity[!!-~]default[!!-~]resources -text
Executables/Windows/slidePuzzle_Data/mainData -text
Executables/Windows/slidePuzzle_Data/sharedassets0.assets -text
Kay/large_board.blend -text
Kay/med_board.blend -text
Kay/small_board.blend -text
Kay/tile.blend -text
Kay/xl_board.blend -text
docs/Board[!!-~]class[!!-~]diagram.png -text
docs/classdef.txt -text
heroku/Untitled.rtf -text
heroku/su-puzzle-game/.gitmodules -text
heroku/su-puzzle-game/AppInfo.php -text
heroku/su-puzzle-game/Readme.md -text
heroku/su-puzzle-game/channel.html -text
heroku/su-puzzle-game/images/fpo-picture.gif -text
heroku/su-puzzle-game/images/get-started-bg.jpg -text
heroku/su-puzzle-game/images/header-sketch.png -text
heroku/su-puzzle-game/images/images.jpeg -text
heroku/su-puzzle-game/images/picture-sketch.png -text
heroku/su-puzzle-game/images/samples-bg.png -text
heroku/su-puzzle-game/images/sprites.png -text
heroku/su-puzzle-game/index.php -text
heroku/su-puzzle-game/javascript/jquery-1.7.1.min.js -text
heroku/su-puzzle-game/nbproject/private/private.properties -text
heroku/su-puzzle-game/nbproject/private/private.xml -text
heroku/su-puzzle-game/nbproject/project.properties -text
heroku/su-puzzle-game/nbproject/project.xml -text
heroku/su-puzzle-game/sdk/src/base_facebook.php -text
heroku/su-puzzle-game/sdk/src/facebook.php -text
heroku/su-puzzle-game/sdk/src/fb_ca_chain_bundle.crt -text
heroku/su-puzzle-game/stylesheets/base.css -text
heroku/su-puzzle-game/stylesheets/mobile.css -text
heroku/su-puzzle-game/stylesheets/reset.css -text
heroku/su-puzzle-game/stylesheets/screen.css -text
heroku/su-puzzle-game/stylesheets/style1.css -text
heroku/su-puzzle-game/utils.php -text
slide-puzzle/Assets/Materials/Material.mat -text
slide-puzzle/Assets/Prefabs/LargeBoard.prefab -text
slide-puzzle/Assets/Prefabs/MediumBoard.prefab -text
slide-puzzle/Assets/Prefabs/Models/large_board.blend -text
slide-puzzle/Assets/Prefabs/Models/med_board.blend -text
slide-puzzle/Assets/Prefabs/Models/small_board.blend -text
slide-puzzle/Assets/Prefabs/Models/tile.blend -text
slide-puzzle/Assets/Prefabs/Models/xl_board.blend -text
slide-puzzle/Assets/Prefabs/PuzzleTile.prefab -text
slide-puzzle/Assets/Prefabs/SmallBoard.prefab -text
slide-puzzle/Assets/Prefabs/XLargeBoard.prefab -text
slide-puzzle/Assets/Scenes/Main.unity -text
slide-puzzle/Assets/Scripts/Board.cs -text
slide-puzzle/Assets/Scripts/Main.cs -text
slide-puzzle/Assets/Scripts/PuzzleTile.cs -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/CameraRelativeSetup.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/FirstPersonSetup.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/FirstPersonTilt.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/PlayerRelativeSetup.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/SidescrollSetup.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Control[!!-~]Setups/TapControlSetup.unity -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Materials/grid.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Materials/gridFor2D.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Materials/skybox.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/2D[!!-~]Side[!!-~]Scroller.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Camera[!!-~]Relative[!!-~]Controls.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Dual[!!-~]Joysticks.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Dual[!!-~]TouchPads.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/First[!!-~]Person[!!-~]Controls.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/First[!!-~]Person[!!-~]Tilt[!!-~]Controls.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Player[!!-~]Relative[!!-~]Controls.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Roll[!!-~]A[!!-~]Ball.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Single[!!-~]Joystick.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Single[!!-~]TouchPad.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/Skybox.fbx -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Prefabs/TapToMove[!!-~]Controls.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/CameraRelativeControl.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/FirstPersonControl.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/FollowTransform.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/Joystick.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/ObliqueNear.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/PlayerRelativeControl.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/RollABall.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/RotationConstraint.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/SidescrollControl.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/SmoothFollow2D.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/ZoomCamera.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Scripts/tapcontrol.js -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Lightmap[!!-~]Shaders[!!-~](Legacy)/Mobile[!!-~]Lightmap[!!-~]AlphaTest.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Lightmap[!!-~]Shaders[!!-~](Legacy)/Mobile[!!-~]Lightmap[!!-~]Only.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Lightmap[!!-~]Shaders[!!-~](Legacy)/Mobile[!!-~]Lightmap[!!-~]Reflective.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Miscellaneous[!!-~]Shaders/Mobile[!!-~]Background.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Miscellaneous[!!-~]Shaders/Mobile[!!-~]Detail.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Particle[!!-~]Shaders/Mobile[!!-~]Multiply[!!-~]Culled.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Particle[!!-~]Shaders/Mobile[!!-~]Particles[!!-~]Additive[!!-~]Culled.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Vertex[!!-~]Colored[!!-~]Shaders/Mobile[!!-~]Transparent[!!-~]Vertex[!!-~]Color.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Shaders/Vertex[!!-~]Colored[!!-~]Shaders/Mobile[!!-~]Vertex[!!-~]Colored.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Textures/JoystickThumb.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Textures/ThumbAreaLeft.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Textures/ThumbAreaRight.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Textures/grid.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets[!!-~](Mobile)/Textures/skyBox.tga -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Blob[!!-~]Light[!!-~]Projector.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Blob[!!-~]Shadow[!!-~]Projector.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Grid[!!-~]Projector.prefab -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Guidelines.txt -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Materials/Grid[!!-~]Material.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Materials/Light[!!-~]Material.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Materials/Shadow[!!-~]Material.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Shaders/Projector[!!-~]Light.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Shaders/Projector[!!-~]Multiply.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Textures/Falloff.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Textures/Light.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Textures/Shadow.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets/Projectors/Sources/Textures/grid.psd -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/Camera[!!-~]Scripts/MouseOrbit.js -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/Camera[!!-~]Scripts/SmoothFollow.js -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/Camera[!!-~]Scripts/SmoothLookAt.js -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/General[!!-~]Scripts/ActivateTrigger.cs -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/General[!!-~]Scripts/DragRigidbody.js -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/Utility[!!-~]Scripts/CombineChildren.cs -text
slide-puzzle/Assets/Standard[!!-~]Assets/Scripts/Utility[!!-~]Scripts/MeshCombineUtility.cs -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/BumpedSpecularDisplacement.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/BumpedSpecularSmooth.shader -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/BumpedSpecular.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/BumpedSpecularDisplacement.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/BumpedSpecularSmooth.mat -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/CliffRock_DISP.png -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/CliffRock_NRM.png -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/LowPolySphere.fbx -text
slide-puzzle/Assets/Standard[!!-~]Assets/Tessellation[!!-~]Shaders/_Example/_TessellationScene.unity -text
slide-puzzle/Assets/Substances_Free/Materials/Wood_Planks_01.mat -text
slide-puzzle/Assets/Substances_Free/Wood_Planks_01.sbsar -text
slide-puzzle/Assets/iTween/Plugins/iTween.cs -text
slide-puzzle/Assets/iTween/ReadMe!/ReadMe!.txt -text
slide-puzzle/Assets/iTween/Sample/MoveSample.cs -text
slide-puzzle/Assets/iTween/Sample/RotateSample.cs -text
slide-puzzle/Assets/iTween/Sample/Sample.unity -text
slide-puzzle/Assets/iTween/Sample/SampleInfo.cs -text
slide-puzzle/ProjectSettings/AudioManager.asset -text
slide-puzzle/ProjectSettings/DynamicsManager.asset -text
slide-puzzle/ProjectSettings/EditorBuildSettings.asset -text
slide-puzzle/ProjectSettings/EditorSettings.asset -text
slide-puzzle/ProjectSettings/InputManager.asset -text
slide-puzzle/ProjectSettings/NavMeshLayers.asset -text
slide-puzzle/ProjectSettings/NetworkManager.asset -text
slide-puzzle/ProjectSettings/ProjectSettings.asset -text
slide-puzzle/ProjectSettings/QualitySettings.asset -text
slide-puzzle/ProjectSettings/TagManager.asset -text
slide-puzzle/ProjectSettings/TimeManager.asset -text
su-puzzle-game/index.php -text
